.labels {
    margin-bottom: 15px;
    margin-left: 25px; 
    margin-top: 10px;
}
.colorLabel {
    display: flex;
}
.colorLabel:first-of-type {
    margin-top: 0.5em;
}
.labelText {
    margin-left: 20px;
}
.heatmap {
    padding: 5px 25px;
}