#wrapper {
    position: absolute;
    z-index: 1;
    width: 80%;
    height: 85%;
    margin-left: 4vw;
    background-color:#00284C;
    border-radius: 5px;
    margin-top: -82vh;
}

.closeImage {
    width: 30px;
    height: 30px;
    margin: 1%;
    float: right;
    background: unset;
}

h1 {
    margin: 2% 0% 2% 5%;
    text-align: center;
}

#compareUsage {
    display: flex;
    justify-content: center;
}

td {
    padding: 5px;
}
h2 {
    font-weight: 400;
}
p, h1 {
    font-weight: 300;
}

.iconL {
    width: 40px;
    height: 40px;
    float: right;
}

.iconR {
    width: 40px;
    height: 40px;
    float: left;
}

.left {
    text-align: right;
    width: 40%;
}
.right {
    text-align: left;
    width: 40%;
}
.middle {
    text-align: center;
}

.barLeft {
    height: 25px;
    background-color: #28d515;
    border-radius: 13px 5px 5px 13px;
    float: right;
    padding: 1% 2%;
    font-size: 19px;
    direction: rtl;
}

.barRight {
    height: 25px;
    background-color: #CE32E7;
    border-radius: 5px 13px 13px 5px;
    float: left;
    padding: 1% 2%;
    font-size: 19px;
    direction: initial;
}