#wrapper {
    position: absolute;
    z-index: 1;
    width: 80%;
    height: 85%;
    margin-left: 4vw;
    background-color:#00284C;
    border-radius: 5px;
    margin-top: -82vh;
}

.closeImage {
    width: 30px;
    height: 30px;
    margin: 1%;
    float: right;
    background: unset;
}

h1 {
    margin: 2% 0% 2% 5%;
    text-align: center;
}

#compareUsage {
    display: flex;
    justify-content: center;
}

.gridConatiner {
    display: grid;
    width: 90%;
    grid-template-columns: 17% 26% 16% 26% 12%;
    grid-gap: 2%;
    grid-template-areas:
    "building_name1 building_name2"
    "building_info1 building_info2"
    "building_avg1 building_avg2"
    "building_saved1 building_saved2"
    "building_name1 building_name2"
}

.row2 {
    height: 35px;
}

.row3 {
    height: 60px;

}

.row4 {
    height: 70px;
}

.row5 {
    line-height: 30px;
    margin-top: -15px;
}

.colum2 {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    text-align: right;
    min-width: 250px;
}

.colum3 {
    grid-column: 3;
    text-align: center;
    margin-top: 68px;
    min-width: 100px;
}

.colum4 {
    min-width: 250px;
}
td {
    padding: 5px;
}
h2 {
    font-weight: 400;
}
p, h1 {
    font-weight: 300;
}

.iconL {
    width: 40px;
    height: 40px;
    float: right;
}

.iconR {
    width: 40px;
    height: 40px;
    float: left;
}

.left {
    text-align: right;
    width: 40%;
}
.right {
    text-align: left;
    width: 40%;
}
.middle {
    text-align: center;
}