.main {
    margin:20px;
    max-height: calc(100vh - 200px);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    grid-template-areas: 
    "content content content content content2 content2 content2 content2 content3 content3 content3 content3"
    "usage usage usage usage usage usage source source source source source source";
}
.ex {
    grid-area: content;
}
.ex2 {
    grid-area: content2;
}
.ex3 {
    grid-area: content3;
}
.energyUsageGraph{
    grid-area: usage;
}
.energySourceGraph{
    grid-area: source;
}