.main {
    margin:10px;
    max-height: calc(100vh - 200px);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 41vh);
    column-gap: 10px;
    row-gap: 10px;
    grid-template-areas: 
    "content content content content content content content content content3 content3 content3 content3"
    "usage usage usage usage usage usage source source source source source source";
}
.energyPercentageSaved {
    grid-area: content;
    text-align: left;
    height: 100%;
}
.energySavedGraph {
    grid-area: content3;
}
.energyUsageGraph{
    grid-area: usage;
}
.energySourceGraph{
    grid-area: source;
}
