.wrapper{
    grid-area: list;
    overflow: hidden;
}
.textbox {
    padding: 30px 45px 15px 45px;
}
.buildingList{
    height: 24vh;
    overflow-y: scroll;
}
.buildingCard {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    font-size: 20px;
    padding: 4%;
    text-decoration: none;
    color: white;
}
.buildingCard:hover {
    background-color: var(--container-hover);
    cursor: pointer;
}
.info {
    display: flex;
    justify-content: space-between;
    margin: 0 30px 0 10px;
}

.checkboxWrapper {
    margin: 5%;
}

.checkboxes {
    display: inline;
    width: 10%;
    size: 20px;
}

.wrapper {
    height: 100%;
}

input[type=checkbox]{
  -webkit-transform: scale(1.5);
}

.title {
    font-weight: 300;
    font-size: 20px;
    margin-top: 5%;
}
