.container{
    grid-area: navbar;
    background-color: var(--navbar-bg);
}
.menuitems {
    margin: 10px;
    text-align: justify;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 20px;
    padding: 15px 20px 15px 70px;
    font-size: 16px;
    display: block;
    border-radius: 5px;
    color: white;
}
.menuitems:hover {
    background-color: var(--navbar-hover);
    color: white;
}
.selected {
    background-color: var(--navbar-hover);
    background-position-x: 15px;
    background-size: 40px;
}
.oversikt {
    background-image: url("../../assets/icons/Oversikt.png");
}
.oversiktF {
    background-image: url("../../assets/icons/OversiktF.png");
}
.skoler {
    background-image: url("../../assets/icons/Skole.png");
}
.skolerF {
    background-image: url("../../assets/icons/SkoleF.png");
}
.barnehager {
    background-image: url("../../assets/icons/Barnehage.png");
}
.barnehagerF {
    background-image: url("../../assets/icons/BarnehageF.png");
}
.barnehager {
    background-image: url("../../assets/icons/Barnehage.png");
}
.barnehagerF {
    background-image: url("../../assets/icons/BarnehageF.png");
}
.sykehjem {
    background-image: url("../../assets/icons/Sykehjem.png");
}
.sykehjemF {
    background-image: url("../../assets/icons/SykehjemF.png");
}
.idrett {
    background-image: url("../../assets/icons/Idretshall.png");
}
.idrettF {
    background-image: url("../../assets/icons/IdretshallF.png");
}
.andre {
    background-image: url("../../assets/icons/AndreBygg.png");
}
.andreF {
    background-image: url("../../assets/icons/AndreByggF.png");
}
.energi {
    background-image: url("../../assets/icons/EnergiTips.png");
}
.energiF {
    background-image: url("../../assets/icons/EnergiTipsF.png");
}