:root {
  --example-variable: #ccc; 
  --navbar-bg: #030E22; 
  --navbar-hover: rgba(115,142,164,0.5);
  --font-color: #fff; 
  --font-color-transparent: rgba(255, 255, 255, 0.6);
}

.example{
  color: var(--example-variable); 
}

body{
  margin: 0;
}

#root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(90deg, #020E26,#0A374A,#04122C);
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
  "navbar header"
  "navbar content";
  font-size: calc(10px + 2vmin);
  color: white;
}

/*The transparent container for the components*/ 
.container{
  background: rgba(209, 209, 209, 0.1);
  border-radius: 5px;  
}